<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- ########################################main header#########################  -->
    <div class="container-fluid main_header">
        <div class="row mx-auto">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row center">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure >
                            <img class="w-100" src="images/404error.jpg"  alt="errorpage">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left  ">
                        <p>Error page</p>
                        <h1>Look's like <span>Your are Lost</span></h1>
                        <a href="/"> <button>Go back</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- ########################################footer #################################  -->
{{>footer}}
</body>

</html>