@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Mulish&family=Piazzolla:opsz,wght@8..30,300;8..30,400;8..30,500;8..30,600;8..30,700&family=Poppins:ital,wght@0,200;0,400;0,700;1,500&family=Smokum&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Piazzolla", serif;
}
:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.img-fluid img {
  height: 40rem;
  width: 100%;
  border-radius: 2rem;
}
.main_menu {
  background-color: var(--main-bg);
}
.navbar {
  color: #fff;
  background-color: var(--main-bg);
  padding: 3rem auto;
}
.navbar a {
  color: #fff;
  font-size: 2rem;
}
.navbar a:hover {
  color: var(--main-color);
  font-size: 2rem;
}
.navbar-toggler {
  background-color: gray;
}
.navbar li {
  margin-left: 2rem;
}
.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: var(--main-color);
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* main header */
.main_header_left {
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_header_right {
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_header_left p {
  font-size: 2rem;
}
.main_header_left h1 {
  font-size: 4rem;
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
}
.main_header_left span {
  color: var(--main-color);
}
.main_header_left button {
  border: none;
  padding: 0.8rem 2.8rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 0.8rem 6px -6px #000;
  outline: none;
}
.main_header_left button:hover {
  box-shadow: 0 8px 6px -6px var(--main-color);
}
.center {
  align-self: center;
  justify-self: center;
}
.footer {
  background-color: #000;
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 2.5rem;
  text-align: center;
}
.row {
  height: 100%;
}
figure img {
  height: 40rem;
}
/* ############################################################whether page styling################################ */
.main_content {
  text-align: center;
}
.temp_form #cityname {
  margin: 2rem auto;
  width: 70% !important;
  height: 5rem !important;
  text-align: center;
  font-size: 2rem;
}
.temp_form #submitbtn {
  height: 4rem !important;
  background-color: black !important;
  color: #fff !important;
  font-size: 2rem;
  text-align: center;
}
.fa {
  color: #0097e6;
}
.temp_form #submitbtn:hover {
  background-color: var(--main-color) !important;
}
.tempinfromation {
  margin: 2rem auto;
  width: 35vw !important;
  height: 50vh !important;
  border: 1px solid black;
  background-color: aqua;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.top_layer {
  display: flex;
  font-size: 2rem;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.main_layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 100%;
  padding: 0.5rem;
}
#city_name {
  width: 100%;
  text-align: center;
  margin: 1rem;
}
.middlelayer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
}
input[type="text"] {
  position: relative;
}
.data_hide {
  visibility: hidden;
}
input[type="submit"] {
  position: absolute;
  top: 5%;
  left: 77%;
}
#temp {
  font-size: 5rem;
  font-weight: bold;
}
.navbar-toggler {
  border-color: #fff !important;
}

@media (max-width: 768px) {
  body {
    overflow: scroll;
    min-height: 100vh;
    width: 100vw;
  }

  .navbar-toggler {
    border-color: #fff !important;
  }
  .navbar-toggler-icon {
    border-color: #fff !important;
  }
  .main_header_left {
    height: auto;
    margin: 2rem 0;
  }
  .main_header_left button {
    margin: 0.3rem;
  }
  .main_header_right {
    height: auto;
    margin-top: 2rem;
  }
  .main_header_left h1 {
    margin: 1rem;
  }
  .footer {
    position: absolute;
    bottom: 0;
  }
  .footer h2 {
    font-size: 1rem;
  }
  .main_header_right {
    margin-bottom: 8rem;
  }
  input[type="text"] {
    width: 100% !important;
  }
  input[type="submit"] {
    position: absolute;
    top: 3.5%;
    left: 77%;
    z-index: 2;
  }
  .temp_form #cityname {
    width: 95vw !important;
    text-align: left;
  }
  .tempinfromation {
    width: 90vw !important;
    height: 60vh !important;
  }

  .top_layer {
    width: 100%;
  }
  .middlelayer {
    margin-top: 3rem;
  }
  #temp {
    font-size: 2.5rem;
  }
  #temp_status {
    font-size: 2rem;
  }
}
